<ion-header>
  <ion-toolbar>
      <img src="../assets/aplaspit.png" width="80px" style="display:inline-block" height="80px"/>
      <ion-title slot="end">
      Βρείτε μας
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card-subtitle>Στοιχεια Καταστηματος</ion-card-subtitle>
    <ion-card-content><p>Ούλωφ Πάλμε 18<br>
      Ζωγράφου, Αθήνα<br>
      Τηλ. 210 777 7795</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50320.71665882672!2d23.761426!3d37.976084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd14f53bd4fb854ee!2sApla...%20Spitiko!5e0!3m2!1sen!2sgr!4v1566913450267!5m2!1sen!2sgr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </ion-card-content>
  
</ion-content>
