<ion-header>
  <ion-toolbar>
    <img src="../assets/aplaspit.png" width="80px" style="display:inline-block" height="80px"/>
    <ion-title slot="end">
      Απλά Σπιτικό
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/back.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Απλά</ion-card-subtitle>
        <ion-card-title>Σπιτικό</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Το Απλά Σπιτικό άνοιξε τις πόρτες του για τους λάτρεις του μαγειρευτού και γρήγορου φαγητού το 2012 στη περιοχή του Ζωγράφου. Γρήγορα, καθιερώθηκε ως ένα από τα αγαπημένα μαγαζιά των κατοίκων της περιοχής, αλλά και όχι μόνο. Αποτελεί πόλο έλξης των φοιτητών μετά τις βραδυνές εξόδους τους, κυρίως λόγω του μαγειρευτού φαγητού που σερβίρει. Το Απλά Σπιτικό ικανοποιεί όμως και τους λάτρεις των κρεατικών, με τυλιχτά σουβλάκια αλλά και υπέροχες μερίδες, πάντα με φρέσκα και αγνά υλικά! Επισκεφτείτε μας στον υπέροχο χώρο μας ή παραγγείλτε σήμερα online!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
